@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Fredoka", "sans-serif";

  --color-primary-1: #ff5c5c;
  --color-primary-1-light: #ffebeb;
  --color-primary-2: #4acc4a;
  --color-secondary: #ffa65c;
  --color-secondary-light: #ffd2ad;
  --color-tertiary: #379999;
  --color-tertiary-light: #e1f4f4;

  --breakpoint-3xl: 112rem;
}

:root {
  --color-tertiary-rgb: 55, 153, 153;
}

body {
  font-family: "Fredoka", "sans-serif";
}
