@import "tailwindcss";

@theme {
  --color-primary-1: oklch(69.09% 0.1987 23.91); /* #FF5C5C */
  --color-primary-1-light: oklch(95.6% 0.0217 17.54);
  /* #FFEBEB */
  --color-primary-2: oklch(74.7% 0.205 143.18); /* ##4ACC4A */
  --color-secondary: oklch(
    79.97% 0.1382706958566382 58.622795390883354
  ); /* #FFA65C */
  --color-secondary-light: oklch(
    89.35% 0.07038002033724391 61.15522842569984
  ); /* #ffd2ad */
  --color-tertiary: oklch(62.69% 0.0894 195.11); /* #379999 */
  --color-tertiary-light: oklch(95.32% 0.02 196.82) /* #96D9D9 */;
}
